<footer class="site-footer">

  <div class="wrapper">
    <div class="social-links">
      <a class="social-link email" href="mailto:{{ site.email }}">
        <i class="fas fa-at"></i>
      </a>
      <a class="social-link social-gitlab" href="https://gitlab.com/{{ site.gitlab_username }}">
        <i class="fab fa-gitlab"></i>
      </a>
      <a class="social-link social-linkedin" href="https://linkedin.com/in/{{ site.linkedin_username }}">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
    <div class="credits">
      <a class="license" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">
        <i class="fab fa-creative-commons"></i> LICENSED under CC BY-SA 4.0
      </a>
    </div>
  </div>

</footer>
